.footerContainer {
  background-color: #333;
  color: #ddd;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footerMain {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #444;
  align-items: center;
}

.footerSection {
  flex: 1 1 180px;
  justify-content: center;
}

.footerSection h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.footerSection p,
.footerSection ul {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
}

.footerSection ul {
  list-style: none;
  padding: 0;
}

.footerSection ul li {
  margin: 5px 0;
}

.footerSection ul li a {
  text-decoration: none;
  color: #ddd;
}

.footerSection ul li a:hover {
  color: rgb(245 163 183 / 100%);
}

.brandName {
  color: rgb(245 163 183 / 100%);
}

.socialIcons {
  display: flex;
  gap: 60px;
}

.socialIcons img {
  width: 29px;
  height: 29px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.socialIcons img:hover {
  transform: scale(1.1);
}

.footerSubscribe {
  max-width: 200px;
}

.footerSubscribe input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #aaa;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.footerLinks {
  display: flex;
  gap: 20px;
}

.footerLink:hover {
  color: rgb(245 163 183 / 100%);
}

.subscribeFormLink:hover {
  color: rgb(245 163 183 / 100%);
}

.third {
  margin-top: -40px;
}

span {
  line-height: 1.5;
}
