.containerArrivals {
  width: calc(100% - 40px);
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  background-color: #f9f9f9;
}

h2 {
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
}

.titleNewArrivals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 25px;
}

.titleNewArrivals img {
  margin: 19px 0;
}

.seeAllArrivals {
  text-decoration: none;
  color: rgb(105 117 134);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
